@mixin dashboard-retailbilling-view {
	.vinHiddenLabel{
	    	color: #414243;
	}
	
	.vinVisibleLabel{
	    	color: white;
	        font-weight: normal;
	}
	
	.customer-layout{
		background: #D8F6CE;
	}
    .my-disabled{
		opacity: 1;
		filter: none;
	}
	
	.price-disabled {
		opacity: 1;
		filter: none;
		font-weight: normal;
   		color: black;
   		
	}
	
	.gold-table{
		background: #F2F5A9;
		
	}
	
	.silver-table{
		background: #E6E6E6;
		
	}
	.diamond-table{
		background: #CED8F6;
		
	}
	
	.general-table{
		background: #ffd1b3;
	}
	
	.general-table-header .v-table-header{
		color: #0B0B61;
    	background: #ff731a;
    	text-align: center;
	}
	
	.general-table-footer .v-table-footer{
		color: #0B0B61;
    	background: #ff731a;
    	text-align: center;
	}
	.general-table-footer-container .v-table-footer-container{
		color: #0B0B61;
    	text-align: center;
    }
	
	.diamond-table-header .v-table-header{
		color: #0B0B61;
    	background: #7A90E9;
    	text-align: center;
	}
	
	.diamond-table-footer .v-table-footer{
		color: #0B0B61;
    	background: #7A90E9;
    	text-align: center;
	}
	.diamond-table-footer-container .v-table-footer-container{
		color: #0B0B61;
    	text-align: center;
    }
}